.square{
  background-color: white;
  width: 10px;
  height: 10px;
  
  
  
}
.square:hover{
  background-color: black;
}

body{
  background-color: rgb(24, 27, 41);
  color: antiquewhite;
}

#container{
  background-color: blue;
  display: flex;
  flex-flow: wrap;
  
}