.square{
  background-color: white;

}
.squaree:hover{
  background-color: black;
}



body{
  background-color: rgb(24, 27, 41);
  color: antiquewhite;
  margin: 3vw;
}

button{
  border: none;
  padding: 15px 32px;
  margin: 0 5px 40px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  width: 150px;
}

#container{
  border: solid 5px;
  display: flex;
  flex-flow: wrap;
  width: 960px;
  height: 960px;
}